# Proyecto integrado 1: Análisis de ventas de videojuegos

## Objetivo

Describir el comportamiento de los videojuegos basándonos en parámetros estadísticos para definir qué juegos es más probable que tengan éxito.

## Preparación de datos

Para empezar a trabajar con los datos primero se tienen que hacer algunos ajustes, como asegurarnos que las columnas estén correctamente nombradas y el tipo de datos sea el correcto dependiento de la información de cada columna

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./games.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [3]:
df.sample(5)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
2427,Army Men: Air Attack,PS,1999.0,Action,0.47,0.32,0.00,0.06,NaN,NaN,NaN
9735,Madden NFL 06,DS,2005.0,Sports,0.11,0.00,0.00,0.01,66.0,6.3,E
8528,Zoo Hospital,Wii,2008.0,Simulation,0.14,0.01,0.00,0.01,61.0,tbd,E
6851,Final Fantasy Fables: Chocobo Tales,DS,2006.0,Adventure,0.10,0.01,0.12,0.01,75.0,7.4,E
5164,ESPN X Games Skateboarding,PS2,2001.0,Sports,0.18,0.14,0.00,0.05,58.0,7.8,E

Primero cambiaremos los nombres de las columnas

In [4]:
new_col_names = ['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'critics_score', 'user_score', 'rating']
df.columns = new_col_names

In [5]:
print(df[df['name'].isna()])

      name platform  year_of_release genre  na_sales  eu_sales  jp_sales  \
659    NaN      GEN           1993.0   NaN      1.78      0.53      0.00
14244  NaN      GEN           1993.0   NaN      0.00      0.00      0.03

       other_sales  critics_score user_score rating
659           0.08            NaN        NaN    NaN
14244         0.00            NaN        NaN    NaN

Después hay que ver cómo trataremos los valores ausentes. Primero, borraré las dos filas donde no hay nombre del juego ya que son muy pocas y tampoco incluyen género.

In [6]:
df = df.dropna(subset=['name'])
df.sample(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critics_score,user_score,rating
6393,Reader Rabbit Kindergarten,DS,2008.0,Misc,0.25,0.00,0.00,0.02,NaN,tbd,E
14441,Toaru Majutsu no Kagaku no Ensemble,PSP,2013.0,Adventure,0.00,0.00,0.03,0.00,NaN,NaN,NaN
6541,Drakan: The Ancients' Gates,PS2,2002.0,Adventure,0.13,0.10,0.00,0.03,78.0,9,M
15451,Chicago Enforcer,XB,2005.0,Shooter,0.02,0.00,0.00,0.00,33.0,2.8,M
2483,FIFA Soccer World Championship,PS2,2000.0,Sports,0.27,0.21,0.28,0.07,NaN,NaN,NaN
7573,Dead to Rights II,PS2,2005.0,Shooter,0.10,0.08,0.00,0.03,51.0,5.3,M
11315,Marvel Nemesis: Rise of the Imperfects,DS,2005.0,Fighting,0.08,0.00,0.00,0.01,34.0,6.5,E10+
2059,NERF N-Strike Elite,Wii,2009.0,Shooter,0.93,0.00,0.00,0.07,67.0,4.5,E10+
7496,Barbie: Groom and Glam Pups,Wii,2010.0,Action,0.18,0.02,0.00,0.01,NaN,tbd,E
10644,Disney's The Jungle Book,GBA,2002.0,Platform,0.07,0.03,0.00,0.00,60.0,tbd,E

Hay valores ausentes en el año de estreno y en los scores, en user_score hay tbd, que considero valor ausente, hay que comprobar si tambén está presente en critics_score.

In [7]:
print(df[df['critics_score'] == 'tbd'])

Empty DataFrame
Columns: [name, platform, year_of_release, genre, na_sales, eu_sales, jp_sales, other_sales, critics_score, user_score, rating]
Index: []